name: smith
services:
  smithd:
    container_name: ${COMPOSE_PROJECT_NAME}-smithd
    build:
      context: .
      dockerfile: smithd.Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - smith-cargo-data:/root/.cargo
      - smith-rustup-data:/root/.rustup
      - ./:/workspace
      - ./target:/workspace/target
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.ssh/id_ed25519.pub:/root/.ssh/authorized_keys
    environment:
      - SHELL=/bin/bash
    command: ["/bin/bash", "./entrypoint.sh"]
  postgres:
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    build:
      dockerfile: postgres.Dockerfile
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./volumes/${COMPOSE_PROJECT_NAME}-postgres:/var/lib/postgresql/data

  device:
    build:
      context: .
      dockerfile: device.Dockerfile
    container_name: smith-device
    privileged: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
      - device-data:/etc/smith
    environment:
      - RUST_LOG=INFO

volumes:
  smith-cargo-data:
  smith-rustup-data:
  device-data:
